body {
    background-color: white;
	font-family: "Segoe UI",Arial,sans-serif;
}

.top-nav {
	background-color: #f1f1f1;
}

.header {
    margin: 10px 0;
	background-color: #f1f1f1;
	padding: 0.01em 16px;
}

.node-attr {
	font-size: 14px;
    font-weight: 400;
}

.node {
	font-size: 14px;
    font-weight: 400;
}

.node-list {
    margin: 10px 0;
	background-color: #f1f1f1;
	padding: 0.01em 16px;
}

a {
    text-decoration: none;
}