<html>
<title>Gusafir 2.0</title>
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="spinner.css">
<script type="text/javascript" src="node.js"></script>
<style>
table {
    border-collapse: collapse;
    background-color: white;
}

th {
    height: 50px;
}


th, td {
	padding: 15px;
	border-bottom: 1px solid #d9d9d9;
}

select {
	width: 100%;
}

input {
	width: 100%;
}

.error-header {
	color: red;
}

.spinner-loader {
  visibility: hidden;
}

</style>
</head>
<body onload="elem_selectcb()">
	<h1>Welcome to Gusafir 2.0</h1>
	<p>Quartus Build: {{ acds_dest_root }}</p>
  <p> Device: {{ part }}</p>
	<div class="error-header">{{ error_header }}</div>
	<hr>
	<div class="header">
		<h2>Choose a node to begin traversing<h2>
	</div>
	<hr>
  <div class="node-list">
		<h3>Interactively lookup a node:-</h3>
		<form action="/show" method="get">
			<table>
				<tr>
					<td align="right">
						<label>Element</label>
					</td>
					<td align="right">
						<select id="elem_select" name="elem" onchange="elem_selectcb()">
							{% for elem in elem_list %}
							<option value="{{ elem }}">{{ elem }}</option>
							{% endfor %}
						</select>
					</td>
          <td align="right">
						<div class="spinner-loader">_Patience_</div>
					</td>
				</tr>
				<tr>
					<td align="right">
						<label>X</label>
					</td>
					<td align="right">
						<select id="x_select" name="x" onchange="x_selectcb()">
						</select>
					</td>
          <td align="right">
						<div id="x_spinner" class="spinner-loader">_Patience_</div>
					</td>
				</tr>
				<tr>
					<td align="right">
						<label>Y</label>
					</td>
					<td align="right">
						<select id="y_select" name="y" onchange="y_selectcb()">
						</select>
					</td>
          <td align="right">
						<div id="y_spinner" class="spinner-loader">_Patience_</div>
					</td>
				</tr>
				<tr>
					<td align="right">
						<label>Z</label>
					</td>
					<td align="right">
						<select id="z_select" name="z" onchange="z_selectcb()">
						</select>
					</td>
          <td align="right">
						<div id="z_spinner" class="spinner-loader">_Patience_</div>
					</td>
				</tr>
				<tr>
					<td align="right">
						<label>I</label>
					</td>
					<td align="right">
						<select id="i_select" name="i">
						</select>
					</td>
          <td align="right">
						<div id="i_spinner" class="spinner-loader">_Patience_</div>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="Lookup">
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="node-list">
		<h3>Enter exact node coordinates to lookup:-<h3>
			<form action="/show" method="get">
				<table>
					<tr>
						<td align="right">
							<label>Element</label>
						</td>
						<td align="right">
							<select name="elem">
								{% for elem in elem_list %}
								<option value="{{ elem }}">{{ elem }}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<td align="right">
							<label>X</label>
						</td>
						<td align="right">
							<input type="number" min="0" name="x" required>
						</td>
					</tr>
					<tr>
						<td align="right">
							<label>Y</label>
						</td>
						<td align="right">
							<input type="number" min="0" name="y" required>
						</td>
					</tr>
					<tr>
						<td align="right">
							<label>Z</label>
						</td>
						<td align="right">
							<input type="number" min="0" name="z" required>
						</td>
					</tr>
					<tr>
						<td align="right">
							<label>I</label>
						</td>
						<td align="right">
							<input type="number" min="0" name="i" required>
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" value="Lookup RE">
						</td>
					</tr>
				</table>
			</form>
	</div>
	<div class="node-list">
		<h3>Enter a GID directly:-<h3>
		<form action="/show" method="get">
				<table>
					<tr>
						<td align="right">
							<label>GID</label>
						</td>
						<td align="right">
							<input type="number" min="0" name="gid" required>
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" value="Show GID">
						</td>
					</tr>
				</table>
			</form>
	</div>
</body>
</html>
