<html>
<title>Gusafir 2.0</title>
<head>
<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<h1>Welcome to Gusafir 2.0</h1>
	<p>Quartus Build: {{ acds_dest_root }}</p>
	<div class="error-header">{{ error_header }}</div>
	<div class="top-nav">
		<a href="/">New Node</a>
	</div>
	<hr>
	<div class="header">
		<h2>You are at...<h2>
		<div class="node-attr">
			<strong>GID</strong> {{ node.gid() }}
		</div>
		<div class="node-attr">
			<strong>Name</strong> {{ node.name() }}
		</div>
		{% if node.rtl() %}
		<div class="node-attr">
			<strong>RTL (mux)</strong> {{ node.rtl() }}
		</div>
		{% endif %}
	</div>
	<hr>
	<h2>With the following connectivity</h2>
	<div class="node-list">
		{% if num_fanouts %}
		<h3>Fanouts ({{ num_fanouts }}):-<h3>
			{% for fanout in node.fanouts() %}
				<div class="node">
				<table>
					<tr>
						<td>
							<a href="/show?gid={{ fanout.gid() }}">{{ fanout.gid() }}</a>
						</td>
						<td>
							{{ fanout.name() }}
						</td>
						<td>
							{{ fanout.rtl() }}
						</td>
					</tr>
				</table>
				</div>
			{% endfor %}
		{% else %}
		<h3>No fanouts!</h3>
		{% endif %}
	</div>
	<div class="node-list">
		{% if num_fanins %}
		<h3>Fanins ({{ num_fanins }}):-<h3>
			{% for fanin in node.fanins() %}
				<div class="node">
				<table>
					<tr>
						<td>
							<a href="/show?gid={{ fanin.gid() }}">{{ fanin.gid() }}</a>
						</td>
						<td>
							{{ fanin.name() }}
						</td>
						<td>
							{{ fanin.rtl() }}
						</td>
					</tr>
				</table>
				</div>
			{% endfor %}
		{% else %}
		<h3>No fanins!</h3>
		{% endif %}
	</div>
</body>
</html>
